    {% extends 'base/layout.html' %}
    {% block title_text %}Edit Profile{% endblock title_text %}
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="container mt-5">
        <h2>Edit Profile</h2>
        {% block form %}
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-section">
                <h3>User Information</h3>
                {{ user_form|crispy }}
            </div>
            <div class="form-section">
                <h3>Profile Information</h3>
                {{ profile_form|crispy }}
            </div>
        </form>
        {% endblock form %}
    </div>
    {% endblock content %}
