.hero {
    background-image: url('/static/images/landing/hero.png');
    background-size: cover;
    background-position: center;
    color: #efefef;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #efefef;
}

.featured-pets {
    padding: 40px 0;
}

.featured-pets h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #4A90E2;
}

